* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Helvetica, Sans-Serif;
}


body {
   background: #fff;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.6s;
   padding: 10px 100px;
   z-index: 10000;
   background-color: #000;
}

header #logo {
   height: 100px;
   width: 100px;
}

.person {
   color: #fff;
}

header ul {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

header ul li {
   position: relative;
   list-style: none;
}

header ul li a,
header ul a i .person {
   position: relative;
   margin: 0 10px;
   text-decoration: none;
   color: #fff;
   letter-spacing: 2px;
   font-weight: 500px;
   transition: 0.6;
}



.nav {
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
}

.nav * {
   box-sizing: border-box;
   transition: all .35s ease;
}

.nav li {
   display: inline-block;
   list-style: outside none none;
   margin: .5em 1em;
   padding: 0;
}

.nav a {
   padding: .5em .8em;
   position: relative;
   text-decoration: none;
   font-size: 20px;
   color: #fff;
}

.nav a::before,
.nav a::after {
   content: '';
   height: 14px;
   width: 14px;
   position: absolute;
   transition: all .35s ease;
   opacity: 0;
}

.nav a::before {
   content: '';
   right: 0;
   top: 0;
   border-top: 3px solid #3E8914;
   border-right: 3px solid #2E640F;
   transform: translate(-100%, 50%);
}

.nav a:after {
   content: '';
   left: 0;
   bottom: 0;
   border-bottom: 3px solid #2E640F;
   border-left: 3px solid #3E8914;
   transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
   transform: translate(0, 0);
   opacity: 1;
}

.nav a:hover {
   color: #3DA35D;
}

.container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
}

.container .content {
   text-align: center;
}

.container .content h3 {
   font-size: 30px;
   color: #333;
}

.container .content h3 span {
   background: crimson;
   color: #fff;
   border-radius: 5px;
   padding: 0 15px;
}

.container .content h1 {
   font-size: 50px;
   color: #333;
}

.container .content h1 span {
   color: crimson;
}

.container .content p {
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn {
   display: inline-block;
   padding: 10px 30px;
   font-size: 20px;
   background: #333;
   color: #fff;
   margin: 0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover {
   background: crimson;
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
   padding-bottom: 50px;
   background: #eee;
}

.form-container form {
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #333;
}

.form-container form input,
.form-container form select {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option {
   background: #fff;
}

.form-container form .form-btn {
   background: #fbd0d9;
   color: crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover {
   background: crimson;
   color: #fff;
}

.form-container form p {
   margin-top: 10px;
   font-size: 20px;
   color: #333;
}

.form-container form p a {
   color: crimson;
}

.form-container form .error-msg {
   margin: 10px 0;
   display: block;
   background: crimson;
   color: #fff;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}